* {
    margin: 0;
    padding: 0;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
  font-family: 'Encode Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}



.navBar {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 30px auto;
  font-size: 20px;
  font-weight: bold;
  border-top: solid 1px #f5f6f7;
  border-bottom: solid 1px #f5f6f7;
  padding: 10px 0 10px 0;
}

.navBar a {
  text-decoration: none;
}

.navBar a:nth-child(1) {
  color: #c3170c;
}

.navBar a:nth-child(2) {
  color: #1E4B9B;
}

.navBar a:nth-child(3) {
  color: #006766;
}

.navBar a:nth-child(4) {
  color: #07AA47;
}

.navBar a:nth-child(5) {
  color: #E3662B;
}

.navBar a:nth-child(6) {
  color: #FB0735;
}

.navBar a:nth-child(7) {
  color: #FF75BB;
}

.navBar a:nth-child(8) {
  color: #EC7D00;
}

.navBar a:nth-child(9) {
  color: #323333;
}

.navBar a:nth-child(10) {
  color: #A81D83;
}



.mainContent {
  width: 90vw; /* Or we could use "width: 90%". The result is good too, but I don't know when to use which one of the two */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.firstColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.titleContainer {
  margin-bottom: 30px;
  width: 100%;
}

.title {
  font-size: 52px;
  color: #C4160C;
  font-weight: bold;
  margin-bottom: 20px;
}

.title a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  text-decoration: none; /* Optional: removes the underline */
}

.destaques {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
}

.destaques.one {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.destaques.two {
  display: flex;
  gap: 20px;
}

.news {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.img1 {
  width: 100%;
  height: auto;
  max-width: 193px;
  border-radius: 12px;
}

.news h4,
.news h3,
.news p {
  width: 100%;
  max-width: 193px;
  box-sizing: border-box;
}

.news2and3 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.img2 {
  width: 100%;
  height: auto;
  max-width: 240px;
  border-radius: 12px;
}

.secondColumn,
.thirdColumn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.secondColumn p,
.secondColumn h3,
.thirdColumn p,
.thirdColumn h3 {
  width: 100%;
  max-width: 240px;
  box-sizing: border-box;
}

p {
  font-size: 18px;
  color: #303134;
}

.title-mobile {
  display: flex;
  flex-direction: column;
  gap: 10px
}



@media (max-width: 1200px) {

  .mainContent {
    flex-direction: column;
  }

  .titleContainer, 
  .destaques {
    width: 100%; 
    max-width: 1200px; 
  }

  .title {
    text-align: center;
  }

  .titleContainer p {
    text-align: center;
  }

  .secondColumn,
  .thirdColumn {
    gap: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .destaques {
    justify-content: space-around; 
    align-items: center;
  }

  .destaques.two {
    margin-bottom: 40px;
  }
}

@media (max-width: 940px) {
  .title {
    font-size: 45px;
  }
}

@media (max-width: 840px) {
  .navBar a:nth-child(6),
  .navBar a:nth-child(7),
  .navBar a:nth-child(8),
  .navBar a:nth-child(9),
  .navBar a:nth-child(10) {
    display: none;
  }

  .title {
    text-align: left;
  }

  .titleContainer p {
    text-align: left;
  }

  .destaques {
    flex-direction: column;
    gap: 20px;
  }

  .destaques.two {
    justify-content: flex-start;
  }

  .news {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .news.one_A p,
  .news.one_B h4 {
    display: none;
  }

  .news.one_A {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .news.one_B {
    flex-direction: row;    
    gap: 40px;
  }

  .secondColumn,
  .thirdColumn {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
  }

  .news2and3 p {
    display: none;
  }

  .news2and3 {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 35px;
    text-align: center;
  }

  .subTitle {
    text-align: center !important;
  }
}

@media (max-width: 464px) {
  .news2and3 {
    font-size: 14px;
  }
}
  